p {
	margin: 0 0 .75em 0;
}

small {
	font-size: .7em;
}

ul:not(.blocks-gallery-grid) {
	list-style: inside;
	margin: 0 0 .75em 0;
	padding: 0 0 0 .1em;
	line-height: 1.5em;
	ul {
		padding: 0 0 0 1em;
	}
}

blockquote {
	margin: 1em 0;
	padding: 0 1em;
	color: @text-color;
	border-left: 1px solid @text-color-light;
}

a {
	&:hover img {
		filter: brightness(90%);
	}
}

img {
	border-radius: @border-radius-size;
	max-width: 100%;
	height: auto;
	margin: 0;
	@media screen and (max-width: @breakpoint-desktop) {
		margin: 1em 0;
		&:first-of-type {
			margin: 0 0 1em 0;
		}
		&.alignleft,
		&.alignright {
			display: block;
			margin: 1em auto;
		}
	}
	@media screen and (min-width: @breakpoint-desktop) {
		&.alignleft {
			float: left;
			margin-right: 1em;
		}
		&.alignright {
			float: right;
			margin-left: 1em;
		}
	}
	&.aligncenter {
		margin: 1em auto;
		display: block;
	}
}

.aligncenter {
	margin: 0 auto;
}

iframe {
	display: block;
	max-width: 100%;
	margin-bottom: .75em;
	border: none;
	border-radius: @border-radius-size;
}

.post, .software {
	&.sticky {
		background-color: @text-color-lighter;
		padding: .5em;
		border-radius: @border-radius-size;
	}
	margin-bottom: 3em;
	.title {
		a {
			color: @text-color;
			font-weight: 400;
			&:hover {
				color: @text-color-dark;
			}
		}
	}
	.meta {
		font-size: @font-size-small;
		color: @text-color-light;
		margin-bottom: 1em;
		.date {
			margin-right: 1em;
		}
		.tags {
			a {
				display: inline-block;
				white-space: nowrap;
				font-weight: 400;
				padding: .2em .8em .03em;
				background-color: @text-color-lighter;
				color: @site-background-color;
				border-radius: 1em;
				margin-right: .5em;
				margin-bottom: .2em;
				&:hover {
					background-color: @text-color-light;
					color: @site-background-color;
				}
			}
		}
	}
}

.more-link {
	.link-button();
}

.info {
	font-size: @font-size-small;
	margin: 1em 0;
	padding: .65em .8em .5em .8em;
	border: 1px solid @text-color;
	border-radius: @border-radius-size;
}

form {
	input,
	textarea {
		font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
		font-weight: 400;
		@media screen and (max-width: @breakpoint-desktop) {
			font-size: @font-size-mobile;
			width: 100%;
		}
		@media screen and (min-width: @breakpoint-desktop) {
			font-size: @font-size-regular;
		}
		line-height: 1.25em;
		color: @text-color;
		max-width: 100%;
		padding: .65em .8em .5em .8em;
		border: 1px solid @text-color-light;
		&:focus,
		&:focus {
			outline: none;
			border-color: @accent-color;
		} // Indicate invalid and not-empty fields:
	}
	input:invalid:not([value=""]),
	input:-moz-ui-invalid:not([value=""]) {
		border-color: red;
		color: red;
	}
	input[type=submit] {
		.link-button();
	}
}

.pagination {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.previous,
	.next {
		a {
			.link-button();
		}
	}
	.previous {
		margin-right: .5em;
	}
	.next {
		margin-left: .5em;
	}
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	.gallery-item {
		width: 20%;
		.gallery-icon {
			img {
				border-radius: @border-radius-size;
			}
		}
		.gallery-caption {
			font-weight: 300;
			font-size: @font-size-small;
			text-align: center;
			padding: 0;
			margin: 0;
		}
	}
	br {
		display: none; // nobody likes you.
		&:last-of-type {
			display: block;
		}
	}
}

.wp-caption {
	max-width: 100%;
	.wp-caption-text {
		font-size: @font-size-small;
		font-weight: 400;
		text-align: center;
		color: @text-color-lighter;
		margin-top: 0;
	}
}

// Text meant only for screen readers.
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
	&:focus {
		background-color: #eee;
		clip: auto !important;
		clip-path: none;
		color: #444;
		display: block;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
		/* Above WP toolbar. */
	}
}
