@footer-margin: .75em;

.footer {
	margin-top: 1em;
	border-top: 1px solid @text-color-lighter;
	padding-top: @footer-margin;
	.menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
		.menu-item {
			margin-right: @footer-margin;
			@media screen and (max-width: @breakpoint-desktop) {
				margin-bottom: .5em;
			}
			a {
				color: @text-color-lighter;
				font-weight: 400;
				&:hover {
					color: @text-color;
				}
			}
			&.divider {
				padding-left: @footer-margin;
				border-left: 1px solid @text-color-lighter;
			}
		}
	}
}
