.site-title {
	line-height: 0.8;

	@media screen and (max-width: @breakpoint-desktop) {
		margin-bottom: .5em;
	}
	@media screen and (min-width: @breakpoint-desktop) {
		margin-bottom: 2em;
	}
	a {
		font-family: 'Cantata One', serif;
		font-weight: @font-weight-normal;
		color: @text-color;
		&:hover {
			color: @accent-color;
			text-decoration: none;
		}
		@media screen and (max-width: @breakpoint-desktop) {
			font-size: @font-size-title-small;
		}
		@media screen and (min-width: @breakpoint-desktop) {
			font-size: @font-size-title;
		}
	}
}

.body .sidebar {
	@media screen and (max-width: @breakpoint-desktop) {
		margin-bottom: .5em;
	}
	@media screen and (min-width: @breakpoint-desktop) {
		width: 220px;
		min-width: 220px;
	}
	.menu {
		display: flex;
		line-height: 1.4;
		list-style: none;
		@media screen and (max-width: @breakpoint-desktop) {
			font-size: @font-size-menu-big;
			flex-direction: row;
			flex-wrap: wrap;
			border-bottom: 1px solid @text-color;
			margin: 0 0 .5em 0;
			padding: 0 0 .5em 0;
		}
		@media screen and (min-width: @breakpoint-desktop) {
			font-size: @font-size-menu;
			flex-direction: column;
			margin: 0;
			padding: 0;
		}
		.menu-item {
			a {
				color: @text-color;
				font-weight: @font-weight-bold;
				&:hover {
					color: @text-color-dark;
				}
				@media screen and (max-width: @breakpoint-desktop) {
					margin-right: .5em;
				}
			}
			&.current-menu-item {
				a {
					color: @accent-color;
				}
			}
		}
	}
	.widget {
		padding: 0 2em 0 0;
		list-style: none;
		ul {
			list-style: none;
			padding: 0;
		}
	}
}
