.link-button() {
	display: inline-block;
	background-color: var(--light-color);
	border: 2px solid var(--accent-color);
	border-radius: var(--border-radius-size);
	padding: .3em .8em;
	color: var(--accent-color);
	font-weight: var(--font-weight-normal);

	&:hover {
		background-color: var(--light-color-dark);
		cursor: pointer;
	}

	&:focus-visible {
		border-color: var(--accent-color-light);
		outline: 2px solid var(--accent-color-dark);
	}
}
