.link-button() {
	display: inline-block;
	background-color: var(--light-color-dark);
	border: none;
	border-radius: var(--border-radius-size);
	padding: .35em 1em;
	color: var(--accent-color);
	font-weight: var(--font-weight-normal);
	text-decoration: none;

	&:hover {
		background-color: var(--light-color-darker);
		cursor: pointer;
	}
}
