// compile with: lessc --clean-css --source-map less/styles.less style.css
@import 'meta';
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'basic-html';
@import 'header';
@import 'footer';

.container {
	width: 100%;
	max-width: var(--page-max-width);
	margin: 0 auto;

	@media (min-width: @breakpoint-desktop) {
		margin: 2em auto var(--font-size-menu) auto;
	}
}

.body {
	display: flex;
	flex-direction: column;

	@media (min-width: @breakpoint-desktop) {
		flex-direction: row;
	}

	.content {
		&>h2:first-child {
			// Decrease top margin for page title elements.
			margin-top: 1em;
		}

		.content-inner {
			max-width: var(--page-content-max-width);
			margin: 0 auto;
			padding: 0 var(--page-padding);

			@media (min-width: @breakpoint-desktop) {
				padding: 0;
			}

			@import 'content';
			@import 'downloads';
		}
	}
}
